<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paleocheater"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.paleocheater.CheatedActivity"
            android:label="@string/app_name" 
            android:parentActivityName="com.example.paleocheater.NavigateActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.paleocheater.NavigateActivity" />
				
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.example.paleocheater.SettingsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.paleocheater.NavigateActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.paleocheater.AwesomeActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.example.paleocheater.NavigateActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.paleocheater.NavigateActivity" />
        </activity>
    </application>

</manifest>
